#video-call{
    position: fixed;
    top: calc(50vh - 230px);
    left: calc(50vw - 400px);
    z-index: 9;
    background-color: #f1f1f1;
    text-align: center;
    height: 460px;
    width: 800px;
    border-radius: 10px;
    border: 3px #bbbbbb solid;
}
#video-callheader {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #dddddd;
    display: flex;
    flex-direction: row;
    align-items: center;    
}
#video-callheader .info{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
}
#video-callheader .action {
    margin-right: 10px;
}
#video-callheader .action button{
    background-color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin: 0px 5px;
}
.video-call-name{
    margin-left: 10px;
    font-weight: bold;
    color: #5f18af;
}

.handle-btn{
    position: absolute;
    width: 100%;
    height: 80px;
    bottom: 0px;
    left: 0px;
    background-color: #f1f1f1;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.handle-btn button{
    padding: 10px;
    width: 50px;
    height: 50px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 25px;
}
.video{
    margin: 5px;
    z-index: 9;
    border-radius: 5px;
    background-color: #dddddd;
    width: calc(50% - 10px);
    height: 300px;
}